.header {
  background-color: #ecedf1;
  width: 100%;
  height: fit-content;
 
}
.yellow-header {
  width: 80%;
  margin-left: 10%;
 height: fit-content;
  background-color: #f6b431;
  margin-top: 10vh;
  margin-right: 0;
 
}

.nav {
  box-sizing: border-box;
 
  top: 0;
  left: 0;
  background-color: #f6b431;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 80%;
  padding-left: 20%;
  padding-right: 20%;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;

  align-items: center;
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.menu-elem {
  padding: 20pt;
  font-size: 0, 5rem;
}

.hero {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: white;
}

.hero h2 {
  padding-bottom: 15px;
  padding-top: 15px;
}

.mountain img {
  overflow: visible;
  width: 150%;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: -15vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
  height: auto;
}
